.star {
    width: 20px;
    height: 20px;
    background-color: rgba(244, 202, 14, 0.8); /* Yellow stars */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    opacity: 0;
    animation: star-twinkle 1.5s infinite alternate;
    z-index: 2;
}

@keyframes star-twinkle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.balloon {
    width: 30px;
    height: 40px;
    background-color: rgba(22, 178, 139, 0.8); /* Pink balloons */
    border-radius: 15px 15px 5px 5px; /* Rounded top */
    position: absolute;
    animation: balloon-rise 3s forwards;
    z-index: 2;
}

@keyframes balloon-rise {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
